<table>
    <tr>
      <td>id:</td>
      <td><input type="text" [(ngModel)]="id"> </td>
    </tr>
    <tr>
      <td>nombre:</td>
      <td><input type="text" [(ngModel)]="nombre"> </td>
    </tr>
    <tr>
      <td>descripcion:</td>
      <td><input type="text" [(ngModel)]="descripcion"> </td>
    </tr>
    <tr>
      <td>precio:</td>
      <td><input type="text" [(ngModel)]="precio"> </td>
    </tr>
    <tr>

    </tr>
  </table>

  <button (click)="addArticulo()" class="btn btn-primary">Añadir</button>
