<h4>Listado de Clientes</h4>
<br>
<button routerLink="/addClientes" class="btn btn-primary">Añadir</button>
<table class="table">
<thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cargo</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.cargo}}</td>
        <td><button routerLink="/clientes/{{cliente.id}}" class="btn btn-primary">Ver</button></td>
    </tr>
</tbody>
<div>{{mensaje}}</div>

